#### Importar bibliotecas

In [22]:
import pandas as pd

#### Load do dataset

In [23]:
pplnames = pd.read_csv('db_raw/names.tsv', delimiter='\t')
ttlbasics = pd.read_csv('db_raw/titlebasics.tsv', delimiter='\t')
ttlprincipals = pd.read_csv('db_raw/titleprincipals.tsv', delimiter='\t')
ttlratings = pd.read_csv('db_raw/titleratings.tsv', delimiter='\t')

C:\Users\prjlu\AppData\Local\Temp\ipykernel_10264\3497914478.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  ttlbasics = pd.read_csv('db_raw/titlebasics.tsv', delimiter='\t')

#### Removendo colunas n√£o desejadas

In [24]:
pplnames = pplnames.drop(columns=['birthYear', 'deathYear', 'primaryProfession', 'knownForTitles'])
ttlbasics = ttlbasics.drop(columns=['titleType', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres'])
ttlprincipals = ttlprincipals.drop(columns=['ordering', 'job', 'characters'])
ttlratings = ttlratings.drop(columns=['numVotes'])

#### Removendo linhas duplicadas caso hajam

In [25]:
pplnames = pplnames.drop_duplicates()
ttlbasics = ttlbasics.drop_duplicates()
ttlprincipals = ttlprincipals.drop_duplicates()
ttlratings = ttlratings.drop_duplicates()

In [26]:
pplnames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13544746 entries, 0 to 13544745
Data columns (total 2 columns):
 #   Column       Dtype
---  ------       -----
 0   nconst       object
 1   primaryName  object
dtypes: object(2)
memory usage: 206.7+ MB

In [27]:
ttlbasics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10826336 entries, 0 to 10826335
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   primaryTitle   object
 2   originalTitle  object
dtypes: object(3)
memory usage: 247.8+ MB

In [28]:
ttlprincipals.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84493637 entries, 0 to 86190337
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   tconst    object
 1   nconst    object
 2   category  object
dtypes: object(3)
memory usage: 2.5+ GB

In [29]:
ttlratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1443621 entries, 0 to 1443620
Data columns (total 2 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1443621 non-null  object
 1   averageRating  1443621 non-null  float64
dtypes: float64(1), object(1)
memory usage: 22.0+ MB

#### Juntando os dados

In [30]:
ttlprincipals = ttlprincipals.merge(ttlbasics, on=['tconst'])
ttlprincipals = ttlprincipals.merge(ttlratings, on=['tconst'])
ttlprincipals = ttlprincipals.merge(pplnames, on=['nconst'])

In [32]:
ttlprincipals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19329066 entries, 0 to 19329065
Data columns (total 7 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   nconst         object
 2   category       object
 3   primaryTitle   object
 4   originalTitle  object
 5   averageRating  float64
 6   primaryName    object
dtypes: float64(1), object(6)
memory usage: 1.0+ GB

#### Exportando os dados para um tsv

In [31]:
ttlprincipals.to_csv('db_polished/db_final.tsv', sep='\t', index=False)

#### Deletando variaveis alocadas

In [33]:
del pplnames
del ttlbasics
del ttlprincipals
del ttlratings